@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}


.navbar{
	position:fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
}
.navbar .logo{
	width: 140px;
	height: auto;
	padding: 20px 100px;
    border-radius: 100%;
    float: left;
    
}
.navbar ul{
	float:left;
	margin-right: 20px;
    
}
.navbar ul li{
	list-style: none;
	margin: 80px;
	display:contents;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background:orange;
	border-radius: 2px;
}
 .wrapper.center{
	position:absolute ;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
h1 {
    text-align: center;
    color: black;
    margin-top: 120px;
    margin-left: 400px;
}
.navbar .fa{
    margin-right: 8px;
}
body{
    background: url( image.jfif) no-repeat;
    background-size: cover;
	height: 30vh;
}
.ExamR{
    color: black;
    margin-left: 400px;
    float: left;
    
}
.ExamL{
    color: black;
    float: right;
    margin-right: 100px;
    
}
.ExamTT {
    text-align: center;
    color: black;
   margin-left: 450px;
}

